*
**.log

!/.gitignore
!/README.md
!/LICENSE

!/.bash*
/.bash_history
/.bash_logout

!/.spacemacs

#!/.tmux/
#!/.tmux/**
!/.tmux.conf

!/.config/
/.config/*
!/.config/nvim/
!/.config/nvim/**
!/.config/dwm/
!/.config/dwm/**
!/.config/st/
!/.config/st/**
